# =========================
# Visual Studio
# =========================
.vs/
*.vcxproj.user
*.vcxproj.filters.user
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build output folders
# =========================
Debug/
Release/
x64/
x86/
build/
out/

# =========================
# Compiled binaries
# =========================
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj

# =========================
# CMake (if you ever use it)
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.cache

# =========================
# OS-specific
# =========================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ma
